In [1]:
import pandas as pd
import geopandas as gpd
import os
import json
import numpy as np

In [2]:
DATA_DIR = '../local/g-naf_feb24_allstates_gda2020_psv_1014/G-NAF/G-NAF FEBRUARY 2024'
PSV_FILES_STANDARD = [(filename, os.path.join(DATA_DIR, 'Standard', filename)) for filename in os.listdir(os.path.join(DATA_DIR, 'Standard'))]
PSV_FILES_AUTHORITY_CODE = [(filename, os.path.join(DATA_DIR, 'Authority Code', filename)) for filename in os.listdir(os.path.join(DATA_DIR, 'Authority Code'))]
PSV_FILES = PSV_FILES_STANDARD + PSV_FILES_AUTHORITY_CODE
assert all(filename.endswith('_psv.psv') for filename, filepath in PSV_FILES)
PSV_FILES = [(filename.removesuffix('_psv.psv'), filepath) for filename, filepath in PSV_FILES]

In [3]:
GNAF_DFK : dict[str, pd.DataFrame] = {}
for filename, filepath in PSV_FILES:
    if filename.startswith('VIC_') or filename.startswith('Authority_Code_'):
        GNAF_DFK[filename] = pd.read_csv(filepath, sep='|', dtype=str) 
        print(f'{filename}: {GNAF_DFK[filename].shape}')
# 6m 30s - 8m 30s for VIC only

VIC_ADDRESS_ALIAS: (215962, 7)
VIC_ADDRESS_DEFAULT_GEOCODE: (4241360, 7)
VIC_ADDRESS_DETAIL: (4241360, 35)
VIC_ADDRESS_FEATURE: (35336, 6)
VIC_ADDRESS_MESH_BLOCK_2016: (4241360, 6)
VIC_ADDRESS_MESH_BLOCK_2021: (4241360, 6)
VIC_ADDRESS_SITE_GEOCODE: (8087748, 13)
VIC_ADDRESS_SITE: (4241360, 5)
VIC_LOCALITY_ALIAS: (3686, 8)
VIC_LOCALITY_NEIGHBOUR: (17236, 5)
VIC_LOCALITY_POINT: (2996, 7)
VIC_LOCALITY: (2996, 9)
VIC_MB_2016: (85014, 4)
VIC_MB_2021: (88739, 4)
VIC_PRIMARY_SECONDARY: (1225385, 7)
VIC_STATE: (1, 5)
VIC_STREET_LOCALITY_ALIAS: (11678, 8)
VIC_STREET_LOCALITY_POINT: (195051, 8)
VIC_STREET_LOCALITY: (202488, 11)
Authority_Code_ADDRESS_ALIAS_TYPE_AUT: (8, 3)
Authority_Code_ADDRESS_CHANGE_TYPE_AUT: (511, 3)
Authority_Code_ADDRESS_TYPE_AUT: (3, 3)
Authority_Code_FLAT_TYPE_AUT: (54, 3)
Authority_Code_GEOCODED_LEVEL_TYPE_AUT: (8, 3)
Authority_Code_GEOCODE_RELIABILITY_AUT: (6, 3)
Authority_Code_GEOCODE_TYPE_AUT: (29, 3)
Authority_Code_LEVEL_TYPE_AUT: (16, 3)
Authority_Code_LOCALITY_ALIAS_TYPE_AUT: (2, 3)
Authority_Code_LOCALITY_CLASS_AUT: (9, 3)
Authority_Code_MB_MATCH_CODE_AUT: (5, 3)
Authority_Code_PS_JOIN_TYPE_AUT: (2, 3)
Authority_Code_STREET_CLASS_AUT: (2, 3)
Authority_Code_STREET_LOCALITY_ALIAS_TYPE_AUT: (2, 3)
Authority_Code_STREET_SUFFIX_AUT: (19, 3)
Authority_Code_STREET_TYPE_AUT: (276, 3)

In [6]:
GNAF_DFK['VIC_MB_2021']['MB_2021_PID'].is_unique

True

In [9]:
GNAF_DFK['VIC_STREET_LOCALITY'].head()

,STREET_LOCALITY_PID,DATE_CREATED,DATE_RETIRED,STREET_CLASS_CODE,STREET_NAME,STREET_TYPE_CODE,STREET_SUFFIX_CODE,LOCALITY_PID,GNAF_STREET_PID,GNAF_STREET_CONFIDENCE,GNAF_RELIABILITY_CODE
0,VIC1962328,2021-07-06,NaN,C,CLARENCE,STREET,NaN,loc201e214973bd,253028435,2,4
1,VIC2031591,2021-07-06,NaN,C,STABLE,COURT,NaN,locb10305db77b5,253059724,2,4
2,VIC2049613,2021-07-06,NaN,C,TUDOR,COURT,NaN,loc00d1503504f1,253062827,2,4
3,VIC1967443,2021-07-06,NaN,C,DEIDRE,STREET,NaN,locd755ccb7197e,253031330,2,4
4,VIC1968231,2021-07-06,NaN,C,GEORGE,STREET,NaN,loca2dba6250aa2,253036166,2,4

In [12]:
GNAF_DFK['VIC_STREET_LOCALITY']['STREET_CLASS_CODE'].value_counts()

STREET_CLASS_CODE
C    180575
U     21913
Name: count, dtype: int64

In [41]:
east_streets_df = GNAF_DFK['VIC_STREET_LOCALITY'].query('(STREET_NAME == "EAST") & (STREET_TYPE_CODE == "STREET")')
east_streets_df = pd.merge(east_streets_df, GNAF_DFK['VIC_LOCALITY'], left_on='LOCALITY_PID', right_on='LOCALITY_PID', suffixes=('_street', '_locality'), how='left')
east_streets_df = pd.merge(east_streets_df, GNAF_DFK['VIC_ADDRESS_DETAIL'], left_on='STREET_LOCALITY_PID', right_on='STREET_LOCALITY_PID', suffixes=('_sl', '_address'), how='left')

['STREET_LOCALITY_PID', 'DATE_CREATED_street', 'DATE_RETIRED_street',
       'STREET_CLASS_CODE', 'STREET_NAME', 'STREET_TYPE_CODE',
       'STREET_SUFFIX_CODE', 'LOCALITY_PID_sl', 'GNAF_STREET_PID',
       'GNAF_STREET_CONFIDENCE', 'GNAF_RELIABILITY_CODE_street',
       'DATE_CREATED_locality', 'DATE_RETIRED_locality', 'LOCALITY_NAME',
       'PRIMARY_POSTCODE', 'LOCALITY_CLASS_CODE', 'STATE_PID',
       'GNAF_LOCALITY_PID', 'GNAF_RELIABILITY_CODE_locality',
       'ADDRESS_DETAIL_PID', 'DATE_CREATED', 'DATE_LAST_MODIFIED',
       'DATE_RETIRED', 'BUILDING_NAME', 'LOT_NUMBER_PREFIX', 'LOT_NUMBER',
       'LOT_NUMBER_SUFFIX', 'FLAT_TYPE_CODE', 'FLAT_NUMBER_PREFIX',
       'FLAT_NUMBER', 'FLAT_NUMBER_SUFFIX', 'LEVEL_TYPE_CODE',
       'LEVEL_NUMBER_PREFIX', 'LEVEL_NUMBER', 'LEVEL_NUMBER_SUFFIX',
       'NUMBER_FIRST_PREFIX', 'NUMBER_FIRST', 'NUMBER_FIRST_SUFFIX',
       'NUMBER_LAST_PREFIX', 'NUMBER_LAST', 'NUMBER_LAST_SUFFIX',
       'LOCATION_DESCRIPTION', 'LOCALITY_PID_address', 'ALIAS_PRINCIPAL',
       'POSTCODE', 'PRIVATE_STREET', 'LEGAL_PARCEL_ID', 'CONFIDENCE',
       'ADDRESS_SITE_PID', 'LEVEL_GEOCODED_CODE', 'PROPERTY_PID',
       'GNAF_PROPERTY_PID', 'PRIMARY_SECONDARY']

east_streets_ascot_vale_df = east_streets_df.query('LOCALITY_NAME == "ASCOT VALE"')
# [['ADDRESS_DETAIL_ID', 'STREET_NAME', 'STREET_TYPE_CODE', 'LOCALITY_NAME', 'POSTCODE', 'BUILDING_NAME', 'LOT_NUMBER_PREFIX', 'LOT_NUMBER', 'LOT_NUMBER_SUFFIX', 'FLAT_TYPE_CODE', 'FLAT_NUMBER_PREFIX', 'FLAT_NUMBER', 'FLAT_NUMBER_SUFFIX', 'LEVEL_TYPE_CODE', 'LEVEL_NUMBER_PREFIX', 'LEVEL_NUMBER', 'LEVEL_NUMBER_SUFFIX', 'NUMBER_FIRST_PREFIX', 'NUMBER_FIRST', 'NUMBER_FIRST_SUFFIX', 'NUMBER_LAST_PREFIX', 'NUMBER_LAST', 'NUMBER_LAST_SUFFIX']]

In [54]:
for col in GNAF_DFK['VIC_STREET_LOCALITY'].columns:
    if GNAF_DFK['VIC_STREET_LOCALITY'][col].isna().all():
        # del east_streets_ascot_vale_df[col]
        print(col)

DATE_RETIRED

In [66]:
east_streets_ascot_vale_df[['ADDRESS_DETAIL_PID', 'NUMBER_FIRST', 'NUMBER_FIRST_SUFFIX', 'STREET_NAME', 'STREET_TYPE_CODE', 'LOCALITY_NAME', 'POSTCODE', ]]

,ADDRESS_DETAIL_PID,NUMBER_FIRST,NUMBER_FIRST_SUFFIX,STREET_NAME,STREET_TYPE_CODE,LOCALITY_NAME,POSTCODE
16,GAVIC422031364,3,A,EAST,STREET,ASCOT VALE,3032
17,GAVIC419912825,15,A,EAST,STREET,ASCOT VALE,3032
18,GAVIC419918111,9,NaN,EAST,STREET,ASCOT VALE,3032
19,GAVIC422088925,1,NaN,EAST,STREET,ASCOT VALE,3032
20,GAVIC421119212,15,B,EAST,STREET,ASCOT VALE,3032
21,GAVIC421874736,2,B,EAST,STREET,ASCOT VALE,3032
22,GAVIC419538220,2,NaN,EAST,STREET,ASCOT VALE,3032
23,GAVIC419837620,11,NaN,EAST,STREET,ASCOT VALE,3032
24,GAVIC420495430,15,C,EAST,STREET,ASCOT VALE,3032
25,GAVIC421584717,2,A,EAST,STREET,ASCOT VALE,3032
26,GAVIC420917214,4,NaN,EAST,STREET,ASCOT VALE,3032
27,GAVIC422088926,5,A,EAST,STREET,ASCOT VALE,3032
28,GAVIC421988417,3,NaN,EAST,STREET,ASCOT VALE,3032
29,GAVIC422088927,7,NaN,EAST,STREET,ASCOT VALE,3032
30,GAVIC422001730,5,NaN,EAST,STREET,ASCOT VALE,3032
31,GAVIC420225636,15,NaN,EAST,STREET,ASCOT VALE,3032

In [61]:
GNAF_DFK['VIC_ADDRESS_DETAIL'].head()

,ADDRESS_DETAIL_PID,DATE_CREATED,DATE_LAST_MODIFIED,DATE_RETIRED,BUILDING_NAME,LOT_NUMBER_PREFIX,LOT_NUMBER,LOT_NUMBER_SUFFIX,FLAT_TYPE_CODE,FLAT_NUMBER_PREFIX,...,ALIAS_PRINCIPAL,POSTCODE,PRIVATE_STREET,LEGAL_PARCEL_ID,CONFIDENCE,ADDRESS_SITE_PID,LEVEL_GEOCODED_CODE,PROPERTY_PID,GNAF_PROPERTY_PID,PRIMARY_SECONDARY
0,GAVIC423790614,2006-10-25,2021-07-07,NaN,NaN,NaN,NaN,NaN,SHOP,NaN,...,P,3690,NaN,CP166716,1,423881576,7,NaN,100577707,S
1,GAVIC419857545,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3777,NaN,2\LP72345,2,419994673,7,NaN,1177087,NaN
2,GAVIC421052916,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,2\SP25732,2,421201621,7,NaN,131243,NaN
3,GAVIC420173645,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,1\LP37836,2,420302828,7,NaN,131246,NaN
4,GAVIC421052921,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,1\TP345739,2,421201626,7,NaN,131247,NaN

In [110]:
GNAF_DFK['VIC_ADDRESS_SITE']['ADDRESS_SITE_PID'].is_unique, GNAF_DFK['VIC_ADDRESS_SITE_GEOCODE']['ADDRESS_SITE_PID'].is_unique

(True, False)

In [131]:
GNAF_DFK['VIC_ADDRESS_SITE'].head()
# Find intersection of two sets of columns
set(GNAF_DFK['VIC_LOCALITY'].columns) & set(GNAF_DFK['VIC_ADDRESS_DETAIL'].columns)
set(GNAF_DFK['VIC_STREET_LOCALITY'].columns) & set(GNAF_DFK['VIC_LOCALITY'].columns)
set(GNAF_DFK['VIC_STREET_LOCALITY'].columns) & set(GNAF_DFK['VIC_ADDRESS_DETAIL'].columns)

{'DATE_CREATED', 'DATE_RETIRED', 'LOCALITY_PID', 'STREET_LOCALITY_PID'}

In [123]:
assert GNAF_DFK['VIC_ADDRESS_DETAIL']['STREET_LOCALITY_PID'].notna().all()

True

In [9]:
assert GNAF_DFK['VIC_ADDRESS_DETAIL']['STREET_LOCALITY_PID'].notna().all()
assert GNAF_DFK['VIC_STREET_LOCALITY']['LOCALITY_PID'].notna().all()
df_streets = pd.merge(GNAF_DFK['VIC_STREET_LOCALITY'][['STREET_LOCALITY_PID', 'LOCALITY_PID']], GNAF_DFK['VIC_LOCALITY'][['LOCALITY_PID', 'LOCALITY_NAME']], on='LOCALITY_PID', suffixes=('', '-l'), how='left')
k = GNAF_DFK['VIC_ADDRESS_DETAIL'][['STREET_LOCALITY_PID', 'LOCALITY_PID']].drop_duplicates()
dk = pd.merge(k, df_streets, on='STREET_LOCALITY_PID', suffixes=('', '-s'), how='left')
assert dk['LOCALITY_PID'].equals(dk['LOCALITY_PID-s'])
del df_streets, k, dk

In [13]:
GNAF_DFK['VIC_ADDRESS_DETAIL'].head()

,ADDRESS_DETAIL_PID,DATE_CREATED,DATE_LAST_MODIFIED,DATE_RETIRED,BUILDING_NAME,LOT_NUMBER_PREFIX,LOT_NUMBER,LOT_NUMBER_SUFFIX,FLAT_TYPE_CODE,FLAT_NUMBER_PREFIX,...,ALIAS_PRINCIPAL,POSTCODE,PRIVATE_STREET,LEGAL_PARCEL_ID,CONFIDENCE,ADDRESS_SITE_PID,LEVEL_GEOCODED_CODE,PROPERTY_PID,GNAF_PROPERTY_PID,PRIMARY_SECONDARY
0,GAVIC423790614,2006-10-25,2021-07-07,NaN,NaN,NaN,NaN,NaN,SHOP,NaN,...,P,3690,NaN,CP166716,1,423881576,7,NaN,100577707,S
1,GAVIC419857545,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3777,NaN,2\LP72345,2,419994673,7,NaN,1177087,NaN
2,GAVIC421052916,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,2\SP25732,2,421201621,7,NaN,131243,NaN
3,GAVIC420173645,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,1\LP37836,2,420302828,7,NaN,131246,NaN
4,GAVIC421052921,2004-04-29,2021-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P,3123,NaN,1\TP345739,2,421201626,7,NaN,131247,NaN

In [18]:
locality_pid = GNAF_DFK['VIC_LOCALITY'].query('LOCALITY_NAME == "CLAYTON"').iloc[0]['LOCALITY_PID']
street_locality_pid = GNAF_DFK['VIC_STREET_LOCALITY'].query(f'LOCALITY_PID == "{locality_pid}" and STREET_NAME == "GLENBROOK"').iloc[0]['STREET_LOCALITY_PID']
address_site_pid = GNAF_DFK['VIC_ADDRESS_DETAIL'].query(f'STREET_LOCALITY_PID == "{street_locality_pid}" and NUMBER_FIRST == "39"').iloc[0]['ADDRESS_SITE_PID']
GNAF_DFK['VIC_ADDRESS_SITE_GEOCODE'].query(f'ADDRESS_SITE_PID == "{address_site_pid}"')

,ADDRESS_SITE_GEOCODE_PID,DATE_CREATED,DATE_RETIRED,ADDRESS_SITE_PID,GEOCODE_SITE_NAME,GEOCODE_SITE_DESCRIPTION,GEOCODE_TYPE_CODE,RELIABILITY_CODE,BOUNDARY_EXTENT,PLANIMETRIC_ACCURACY,ELEVATION,LONGITUDE,LATITUDE
6071817,PC421631940,2018-05-11,NaN,421631940,NaN,NaN,PC,2,NaN,NaN,NaN,145.12341431,-37.90983361
8055038,4056258,2012-11-01,NaN,421631940,NaN,NaN,FCS,2,NaN,NaN,NaN,145.1235659,-37.90984585

In [ ]:
GNAF_DFK['VIC_ADDRESS_DETAIL']['ADDRESS_DETAIL_PID']

In [45]:
GNAF_DFK['VIC_ADDRESS_DETAIL'].query(f'ADDRESS_DETAIL_PID == "GAVIC421038791"')

,ADDRESS_DETAIL_PID,DATE_CREATED,DATE_LAST_MODIFIED,DATE_RETIRED,BUILDING_NAME,LOT_NUMBER_PREFIX,LOT_NUMBER,LOT_NUMBER_SUFFIX,FLAT_TYPE_CODE,FLAT_NUMBER_PREFIX,...,ALIAS_PRINCIPAL,POSTCODE,PRIVATE_STREET,LEGAL_PARCEL_ID,CONFIDENCE,ADDRESS_SITE_PID,LEVEL_GEOCODED_CODE,PROPERTY_PID,GNAF_PROPERTY_PID,PRIMARY_SECONDARY
243720,GAVIC421038791,2006-01-14,2021-08-05,NaN,FLINDERS STREET RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3000,NaN,21A~4\PP5514C,0,421180459,7,NaN,204315992,P

In [46]:
GNAF_DFK['VIC_ADDRESS_DETAIL'][GNAF_DFK['VIC_ADDRESS_DETAIL']['BUILDING_NAME'].notna() & GNAF_DFK['VIC_ADDRESS_DETAIL']['BUILDING_NAME'].str.contains('RAILWAY STATION')]

,ADDRESS_DETAIL_PID,DATE_CREATED,DATE_LAST_MODIFIED,DATE_RETIRED,BUILDING_NAME,LOT_NUMBER_PREFIX,LOT_NUMBER,LOT_NUMBER_SUFFIX,FLAT_TYPE_CODE,FLAT_NUMBER_PREFIX,...,ALIAS_PRINCIPAL,POSTCODE,PRIVATE_STREET,LEGAL_PARCEL_ID,CONFIDENCE,ADDRESS_SITE_PID,LEVEL_GEOCODED_CODE,PROPERTY_PID,GNAF_PROPERTY_PID,PRIMARY_SECONDARY
83199,GAVIC719756142,2018-05-07,2021-08-05,NaN,MIDDLE PARK RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3182,NaN,RES1\PS329924,0,715141165,7,NaN,173805078,NaN
243720,GAVIC421038791,2006-01-14,2021-08-05,NaN,FLINDERS STREET RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3000,NaN,21A~4\PP5514C,0,421180459,7,NaN,204315992,P
314448,GAVIC719205689,2017-10-17,2021-08-05,NaN,WOODEND RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3442,NaN,9~42\PP5874,0,714590722,7,NaN,52521450,NaN
340443,GAVIC719613240,2019-10-20,2021-08-05,NaN,LEONGATHA RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3953,NaN,38A~22\PP5460,0,714998254,7,NaN,430593430,NaN
419437,GAVIC425469095,2014-07-17,2023-05-03,NaN,NEW MARKET RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3031,NaN,1\TP954249,1,425557385,7,NaN,420275804,NaN
737415,GAVIC421603772,2017-10-26,2021-08-05,NaN,NORTH MELBOURNE RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3003,NaN,3~73B\PP5514B,1,421777674,7,NaN,203461331,NaN
776519,GAVIC719790566,2018-07-20,2021-08-05,NaN,SEA LAKE RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3533,NaN,2003\PP5703,0,715175589,7,NaN,427829583,NaN
855829,GAVIC719535024,2017-10-17,2021-08-05,NaN,ST ALBANS RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3021,NaN,1\TP956524,1,714920056,7,NaN,426473580,P
901758,GAVIC425467478,2021-04-09,2021-08-05,NaN,MOONEE PONDS RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3039,NaN,1\PS808526,0,425555768,7,NaN,425944183,NaN
1101560,GAVIC424059888,2022-07-21,2022-08-09,NaN,ARARAT RAILWAY STATION WORKS DEPOT,NaN,NaN,NaN,NaN,NaN,...,P,3377,NaN,1\TP935273,1,424147731,7,NaN,128157181,NaN
1128779,GAVIC424588894,2017-07-28,2021-08-05,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3338,NaN,4\TP954334,1,424674359,7,NaN,52397729,NaN
1382454,GAVIC425557105,2021-07-25,2021-08-14,NaN,LEAWARRA RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3199,NaN,2002\PP2619,0,425645395,7,NaN,428631839,NaN
1439052,GAVIC420809670,2011-11-01,2021-08-05,NaN,ALBERT PARK RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3205,NaN,1\TP840741,0,420947706,7,NaN,173762640,NaN
1445285,GAVIC414018845,2005-01-11,2021-08-05,NaN,SOUTH MELBOURNE RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3205,NaN,2\TP10790,1,414160626,7,NaN,52611768,NaN
1521678,GAVIC720520010,2020-10-17,2021-08-05,NaN,BENTLEIGH RAILWAY STATION,NaN,NaN,NaN,SHOP,NaN,...,P,3204,NaN,1\TP953883,1,715905051,7,NaN,432727797,S
1745727,GAVIC424540179,2010-01-17,2021-08-05,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3163,NaN,1\TP956799,0,424626009,7,NaN,213815069,NaN
1747422,GAVIC424543196,2010-01-17,2023-08-02,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3204,NaN,1\PS840063,0,424629026,7,NaN,213815071,NaN
1840534,GAVIC421430124,2021-10-26,2021-11-11,NaN,MCKINNON RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3204,NaN,1\TP917904,1,421614922,7,NaN,434341507,P
1884663,GAVIC720660029,2021-04-09,2021-08-05,NaN,MURTOA RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3390,NaN,1\TP891770,0,716045070,7,NaN,433239653,NaN
1907059,GAVIC424267955,2021-04-09,2021-11-11,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3163,NaN,1\TP956851,0,424354786,7,NaN,211848629,NaN
1915048,GAVIC719923396,2019-04-26,2021-08-05,NaN,ST ALBANS RAILWAY STATION,NaN,NaN,NaN,UNIT,NaN,...,P,3021,NaN,1\TP956524,1,715308437,7,NaN,428843251,S
1925889,GAVIC424260678,2008-12-24,2021-08-05,NaN,FLEMINGTON BRIDGE RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3051,NaN,1\TP23321,0,424347509,7,NaN,211564824,NaN
1946873,GAVIC425573622,2021-07-25,2021-08-14,NaN,FRANKSTON RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3199,NaN,12B~B\PP5301,0,425661912,7,NaN,428631231,NaN
2156436,GAVIC720129581,2019-07-21,2021-08-05,NaN,RAILWAY STATION RESIDENCE,NaN,NaN,NaN,NaN,NaN,...,P,3885,NaN,1F\PP3534,0,715514602,7,NaN,131009727,NaN
2161597,GAVIC420875655,2017-10-26,2021-08-05,NaN,THE RAILWAY STATION HOTEL,NaN,NaN,NaN,NaN,NaN,...,P,3556,NaN,2\PS831385,2,421014599,7,NaN,45208905,NaN
2480420,GAVIC424234041,2013-10-22,2021-11-09,NaN,BALLAN RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3342,NaN,2~44A\PP5029,1,424321110,7,NaN,125561202,NaN
2719183,GAVIC424778244,2017-10-26,2021-08-05,NaN,WARRAGUL RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3820,NaN,2026\PP5835,1,424863605,7,NaN,135380428,NaN
2854932,GAVIC425624038,2018-10-28,2021-08-05,NaN,SEAFORD RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3198,NaN,2009\PP3025,0,425712328,7,NaN,428632243,P
2942339,GAVIC424787700,2011-07-27,2021-08-05,NaN,WESTALL RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3169,NaN,2\TP838556,0,424873061,7,NaN,216607874,NaN
3061394,GAVIC420756778,2016-10-25,2021-08-05,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3225,NaN,2034\PP5661,2,420888004,7,NaN,424549868,NaN
3079942,GAVIC421531579,2019-01-24,2021-08-05,NaN,RIDDELLS CREEK RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3431,NaN,1\TP956153,0,421671881,7,NaN,52525210,NaN
3113312,GAVIC719755933,2018-05-07,2023-05-03,NaN,SHEPPARTON RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3630,NaN,1\TP855958,1,715140956,7,NaN,427931387,NaN
3167213,GAVIC424505670,2011-01-31,2021-08-05,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3453,NaN,8~13\PP5366,2,424591700,7,NaN,52582171,NaN
3261311,GAVIC420434788,2007-01-05,2022-08-03,NaN,FLAGSTAFF RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3000,NaN,CP155084,1,420564425,7,NaN,203482800,NaN
3306078,GAVIC423975100,2007-09-28,2021-08-05,NaN,RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3669,NaN,10~15\PP5815,0,424063611,7,NaN,125201282,P
3390150,GAVIC421951863,2017-10-26,2021-08-05,NaN,PARLIAMENT RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3000,NaN,1\PS733273,0,422086948,7,NaN,426051536,P
3732919,GAVIC424024005,2018-01-22,2021-08-05,NaN,SWAN HILL RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3585,NaN,E1\PP5747,1,424111891,7,NaN,52492854,NaN
3896151,GAVIC422133684,2004-07-02,2023-11-02,NaN,SPRINGHURST RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3682,NaN,6~5\PP5727,1,422264430,7,NaN,45337209,NaN
3931436,GAVIC411766987,2022-10-22,2023-08-02,NaN,MALMSBURY RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3446,NaN,3~15\PP5495,1,411924658,7,NaN,453927338,NaN
4036958,GAVIC425169757,2013-01-10,2021-08-05,NaN,THOMASTOWN RAILWAY STATION KIOSK,NaN,NaN,NaN,NaN,NaN,...,P,3074,NaN,1\PS708792,0,425258016,7,NaN,219574867,NaN
4087028,GAVIC421513477,2021-10-26,2023-08-02,NaN,DAYLESFORD RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,P,3460,NaN,1~15\PP5231,1,421675559,7,NaN,52462459,NaN
4168648,GAVIC719768204,2018-05-08,2021-08-05,NaN,LARA RAILWAY STATION,NaN,NaN,NaN,NaN,NaN,...,A,3212,NaN,9F~11\PP5452,0,715153227,7,NaN,NaN,NaN

In [66]:
GNAF_DFK['VIC_ADDRESS_DETAIL']['PRIMARY_SECONDARY'].value_counts()

PRIMARY_SECONDARY
S    1225385
P     165763
Name: count, dtype: int64

In [63]:
GNAF_DFK['VIC_STREET_LOCALITY_POINT'].query(f'STREET_LOCALITY_PID == "{street_locality_pid}"')

,STREET_LOCALITY_POINT_PID,DATE_CREATED,DATE_RETIRED,STREET_LOCALITY_PID,BOUNDARY_EXTENT,PLANIMETRIC_ACCURACY,LONGITUDE,LATITUDE
148734,L3149480,2021-11-12,NaN,VIC1972950,282,NaN,145.12385263,-37.90921935

In [75]:
GNAF_DFK['VIC_STREET_LOCALITY'].groupby('GNAF_STREET_PID')['STREET_NAME'].apply(list)

GNAF_STREET_PID
252834271      [A BLAIRS, A BLAIRS]
252834272                 [A BONES]
252834273    [A BROWNES, A BROWNES]
252834278              [A MCGARRYS]
252834281                [A SMITHS]
                      ...
507741873         [MOUNT BROUGHTON]
507776268                 [MACLEAN]
507776269                  [MISERY]
507776270                 [SHILTON]
507781483                  [JOSEPH]
Name: STREET_NAME, Length: 80547, dtype: object

In [76]:
GNAF_DFK['VIC_STREET_LOCALITY']

,STREET_LOCALITY_PID,DATE_CREATED,DATE_RETIRED,STREET_CLASS_CODE,STREET_NAME,STREET_TYPE_CODE,STREET_SUFFIX_CODE,LOCALITY_PID,GNAF_STREET_PID,GNAF_STREET_CONFIDENCE,GNAF_RELIABILITY_CODE
0,VIC1962328,2021-07-06,NaN,C,CLARENCE,STREET,NaN,loc201e214973bd,253028435,2,4
1,VIC2031591,2021-07-06,NaN,C,STABLE,COURT,NaN,locb10305db77b5,253059724,2,4
2,VIC2049613,2021-07-06,NaN,C,TUDOR,COURT,NaN,loc00d1503504f1,253062827,2,4
3,VIC1967443,2021-07-06,NaN,C,DEIDRE,STREET,NaN,locd755ccb7197e,253031330,2,4
4,VIC1968231,2021-07-06,NaN,C,GEORGE,STREET,NaN,loca2dba6250aa2,253036166,2,4
...,...,...,...,...,...,...,...,...,...,...,...
202483,VIC2001775,2021-07-06,NaN,C,JANNALI,DRIVE,NaN,locd6810256cc93,253041297,2,4
202484,VIC3627604,2022-08-11,NaN,C,KAURI,WALK,NaN,loc90b2f4dd8c2d,505657921,2,4
202485,VIC2069872,2021-07-06,NaN,C,UNION,STREET,NaN,loc5d01e4efc615,253063178,2,4
202486,VIC2051726,2021-07-06,NaN,C,RUSSELL,STREET,NaN,loc20a81a4bf246,253057104,2,4
202487,VIC3326469,2021-07-06,NaN,C,NEILSONS,ROAD,NaN,locc7d7d53a0ad4,253050930,2,4

In [79]:
GNAF_DFK['Authority_Code_PS_JOIN_TYPE_AUT']

  CODE    NAME                                        DESCRIPTION
0    1    AUTO  AUTOMATICALLY MATCHED PRIMARY AND SECONDARY, B...
1    2  MANUAL  MANUALLY GENERATED LINK, MAY OR MAY NOT HAVE T...

In [64]:
GNAF_DFK['VIC_STREET_LOCALITY_POINT']['BOUNDARY_EXTENT'].unique()

array([nan, '33', '68', ..., '14498', '4586', '3854'], dtype=object)

In [68]:
GNAF_DFK['Authority_Code_']

,CODE,NAME,DESCRIPTION
0,1,PARCEL LEVEL MATCH,A parcel level geocode for the address has bee...
1,2,GAP GEOCODED ADDRESS LEVEL MATCH,A gap geocoded match for the address has been ...
2,3,STREET LOCALITY LEVEL SINGLE MATCH,A street-locality level geocode for the addres...
3,4,STREET LOCALITY LEVEL MULTIPLE MATCH,A street-locality level geocode for the addres...
4,5,LOCALITY LEVEL MULTIPLE MATCH,A locality level geocode for the address has b...

In [42]:
GNAF_DFK['VIC_STREET_LOCALITY']['STREET_NAME'].notna().all()
GNAF_DFK['VIC_STREET_LOCALITY'][GNAF_DFK['VIC_STREET_LOCALITY']['STREET_TYPE_CODE'].isna()]

,STREET_LOCALITY_PID,DATE_CREATED,DATE_RETIRED,STREET_CLASS_CODE,STREET_NAME,STREET_TYPE_CODE,STREET_SUFFIX_CODE,LOCALITY_PID,GNAF_STREET_PID,GNAF_STREET_CONFIDENCE,GNAF_RELIABILITY_CODE
451,VIC2070451,2021-07-06,NaN,C,THE MEWS,NaN,NaN,locd1d128ec42fa,253061684,2,4
576,VIC2027433,2021-07-06,NaN,C,THE AVENUE,NaN,NaN,loc4858bcc1d912,253061608,2,4
660,VIC2028892,2021-08-17,NaN,C,THE EYRIE,NaN,NaN,loc819aeb5db205,253061653,2,4
938,VIC2030389,2021-07-06,NaN,C,THE STRAND,NaN,NaN,loc9fc9cdac1e1a,253061730,2,4
939,VIC2030460,2021-07-06,NaN,C,THE WOODLAND,NaN,NaN,locb8f595af5fb8,253061741,2,4
...,...,...,...,...,...,...,...,...,...,...,...
202239,VIC2002940,2021-08-17,NaN,C,R O W Y,NaN,NaN,loc4fa4b090ce9e,NaN,NaN,4
202268,VIC2030928,2021-08-17,NaN,U,UNNAMED,NaN,NaN,loc8af2efa53ae5,NaN,NaN,4
202269,VIC2057561,2021-08-17,NaN,U,UNNAMED,NaN,NaN,loc154390ddc0ff,NaN,NaN,4
202274,VIC2057500,2021-08-17,NaN,U,UNNAMED,NaN,NaN,loc860b95b61d88,NaN,NaN,4
202278,VIC2030759,2021-08-17,NaN,U,UNNAMED,NaN,NaN,locf7bbd3c849d6,NaN,NaN,4

In [37]:
GNAF_DFK['VIC_ADDRESS_DETAIL'].query(f'STREET_LOCALITY_PID == "{street_locality_pid}" and NUMBER_FIRST == "39"').iloc[0]

ADDRESS_DETAIL_PID       GAVIC421529072
DATE_CREATED                 2004-04-29
DATE_LAST_MODIFIED           2021-07-07
DATE_RETIRED                        NaN
BUILDING_NAME                       NaN
LOT_NUMBER_PREFIX                   NaN
LOT_NUMBER                          NaN
LOT_NUMBER_SUFFIX                   NaN
FLAT_TYPE_CODE                      NaN
FLAT_NUMBER_PREFIX                  NaN
FLAT_NUMBER                         NaN
FLAT_NUMBER_SUFFIX                  NaN
LEVEL_TYPE_CODE                     NaN
LEVEL_NUMBER_PREFIX                 NaN
LEVEL_NUMBER                        NaN
LEVEL_NUMBER_SUFFIX                 NaN
NUMBER_FIRST_PREFIX                 NaN
NUMBER_FIRST                         39
NUMBER_FIRST_SUFFIX                 NaN
NUMBER_LAST_PREFIX                  NaN
NUMBER_LAST                         NaN
NUMBER_LAST_SUFFIX                  NaN
STREET_LOCALITY_PID          VIC1972950
LOCATION_DESCRIPTION                NaN
LOCALITY_PID            loc86dc9bf35404
ALIAS_PRINCIPAL                       P
POSTCODE                           3168
PRIVATE_STREET                      NaN
LEGAL_PARCEL_ID             130\LP10326
CONFIDENCE                            2
ADDRESS_SITE_PID              421631940
LEVEL_GEOCODED_CODE                   7
PROPERTY_PID                        NaN
GNAF_PROPERTY_PID                482385
PRIMARY_SECONDARY                   NaN
Name: 2129515, dtype: object

In [33]:
GNAF_DFK['Authority_Code_GEOCODE_TYPE_AUT'].query('CODE == "FCS"').iloc[0]['DESCRIPTION']

'A POINT SET BACK FROM THE CENTRE OF THE ROAD FRONTAGE WITHIN AN ADDRESS SITE.'